<!doctype html>
<html>

<head>
  <title>Wedding Show - API</title>
</head>

<body style="font-size: 17px">
  <h2>Wedding Show - API</h2>

  <p>
    <strong>/auth/signup</strong>
    <br>
    <span style="font-size: 16px">
      POST: creates user account
    </span>
  </p>

  <p>
    <strong>/auth/signup</strong>
    <br>
    <span style="font-size: 16px">
      POST: login and returns JWT tokens
    </span>
  </p>

  <p>
    <strong>/auth/user</strong>
    <br>
    <span style="font-size: 16px">
      GET: get user info
    </span>
  </p>
</body>

</html>